<%= provide(:title, @taxon.name) %>
<!-- LIGHT SECTION -->
<%= render 'shared/page_header', page_title: @taxon.name, show_shop: true %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <%= render 'categories', taxonomies: @taxonomies %>
        <%= render 'color_categories' %>
        <%= render 'size_categories' %>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render 'sort_dropdown_list' %>
        <%= render 'category_products', products: @products %>
      </div>
    </div>
  </div>
</section>
<!-- LIGHT SECTION -->
<%= render 'partners_logo' %>
