<%= provide(:title, @product.name) %>
<!-- LIGHT SECTION -->
<%= render 'shared/page_header', page_title: @product.name %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
  <div class="container">
    <div class="row singleProduct">
      <div class="col-xs-12">
        <div class="media">
          <%= render 'product_images', product: @product %>
          <div class="media-body">
            <ul class="list-inline">
              <% if @taxon %>
                <li>
                  <%= link_to potepan_category_path(@taxon.id) do %>
                    <i class="fa fa-reply" aria-hidden="true"></i>一覧ページへ戻る
                  <% end %>
                </li>
              <% end %>
            </ul>
            <h2><%= @product.name %></h2>
            <h3><%= @product.display_price %></h3>
            <p><%= @product.description %></p>
            <%= render 'variant_selection' %>
          </div>
        </div>
      </div>
    </div>
    <%= render 'related_products', products: @related_products %>
  </div>
</section>
